# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env

# VS Code
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/